@model CadasterMVC.Models.PessoaViewModel

@{
    ViewData["Title"] = "Pessoas";
}

<!-- Link Tags -->

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Body -->

<h1 class="white text-center">Pessoas</h1>
<hr class="background-secondary" />

<div class="container">
    <div class="table-wrapper table-borderless">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Gerenciar Pessoas</h2>
                </div>
                <div class="col-sm-6">
                    <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Adicionar Pessoa</span></a>
                </div>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th style="width: auto">Nome</th>
                    <th>Empresa</th>
                    <th>Contato</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pessoa in @ViewBag.pessoas)
                {
                    <tr>
                        <td id="idPessoa" hidden>@pessoa.Id</td>
                        <td id="nome">@pessoa.Nome</td>
                        <td id="empresa">@pessoa.Empresa</td>
                        <td id="contato">@pessoa.Contato</td>
                        <td>
                            <a href="#editEmployeeModal" class="edit" onclick="return obterDadosPessoa(@pessoa.Id);" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                            <a href="#deleteEmployeeModal" class="delete" onclick="return excluirPessoa(@pessoa.Id);" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!-- Insert Modal HTML -->

<div id="addEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("InserirPessoa", "Pessoa", FormMethod.Post))
            {
                <div class="modal-header">Inserir Pessoa</div>

                <div class="modal-body">
                    <div class="form-group">
                        <label for="Nome" class="control-label">Nome</label>
                        <input id="Nome" name="Nome" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="Empresa" class="control-label">Empresa</label>
                        <input id="Empresa" name="Empresa" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="Contato" class="control-label">Contato</label>
                        <input id="Contato" name="Contato" class="form-control" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Adicionar</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<!-- Edit Modal HTML -->

<div id="editEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("AtualizarPessoa", "Pessoa", FormMethod.Post))
            {
                <div class="modal-header">Editar Pessoa</div>

                <div class="modal-body">
                    @Html.HiddenFor(x => x.Id, new { id = "idEditar" })

                    <div class="form-group">
                        <label for="Nome" class="control-label">Nome</label>
                        <input id="nomeEditar" name="Nome" class="form-control" value="" />
                    </div>
                    <div class="form-group">
                        <label for="Empresa" class="control-label">Empresa</label>
                        <input id="empresaEditar" name="Empresa" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="Contato" class="control-label">Contato</label>
                        <input id="contatoEditar" name="Contato" class="form-control" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Atualizar</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<!-- Delete Modal HTML -->

<div id="deleteEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("ExcluirPessoa", "Pessoa", FormMethod.Post))
            {
                @Html.HiddenFor(x => x.Id, new { id = "idExclusao" })
                <div class="modal-header">
                    <h4 class="modal-title">Remover Pessoa</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Tem certeza que deseja remover este registro?</p>
                    <p class="text-warning"><small>Esta ação não poderá ser desfeita.</small></p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <input type="submit" class="btn btn-danger" value="Remover">
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
